@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}


.ProseMirror {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}

.editor-wrapper {
  position: relative;
}
.editor-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent; /* default */
  transition: background-color 0.2s ease;
}

.editor-wrapper:focus-within::after {
  background-color: #800080; /* ✅ purple underline */
}

/* Normal bullet */
.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

/* Number list */
.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.ProseMirror ul.arrow-list li {
  position: relative;
  padding-left: 1.5rem;
}

.ProseMirror ul.arrow-list li::before {
  content: "➜";
  position: absolute;
  left: 0;
  color: #800080;
  font-weight: bold;
}















