@font-face {
  font-family: "MyCalibriBold";
  src: url("../fonts/calibri-bold.ttf") format("truetype");
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

body {
  background: #ffffff;
  font-family: "Inter", sans-serif;
}

/*  */

.main_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_menu nav {
  background: none;
}

/* paginagtion css */
.pagination_sec li button {
  border: none;
  padding: 0 0;
  background: #032409;
  color: #ffffff;
  margin: 0 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_sec li[aria-current="page"] button {
  background: #025e13;
}
.pagination_sec li button svg {
  font-size: 25px;
}
/* paginagtion css */
.main_menu ul li {
  position: relative;
  padding: 0 15px;
  margin: 0;
}

.main_menu ul li a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #4d4d4d;
  font-family: "Poppins", sans-serif;
}

.main_menu ul li a:hover,
.main_menu ul li a.active {
  color: #800080;
}

/*  */

.main_menu ul li.get_started a:hover {
  color: #ffffff;
}

.main_menu ul ul {
  display: none;
  position: absolute;
  left: 0;
  background: #ffffff;
  width: 300px;
  padding: 10px;
}

.main_menu ul li:hover ul {
  display: block;
}

.main_menu ul ul li a {
  color: #231000 !important;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
}

.main_menu ul ul li a:hover {
  color: #305eff !important;
}

/* add css for login start here */

.login_area {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box {
  border: #ded7cf 1px solid;
  border-radius: 10px;
  padding: 40px 60px;
  max-width: 600px;
  width: 100%;
}

.login_box input[type="text"],
.login_box input[type="email"],
.login_box input[type="password"] {
  font-size: 14px;
  line-height: 16px;
  color: #231000;
  border: none;
  width: 100%;
}

.login_box input[type="text"]:focus,
.login_box input[type="email"]:focus,
.login_box input[type="password"]:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* add css for login ends here */

/*
 *  STYLE 3
 */

.force-overflow {
  min-height: 300px;
}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2b2a2a;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #2b2a2a;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #a1a1a2;
}

/*  */

/* Home banner css start here */

/* .home_banner_area {
  background: url(../imagesource/banner_bg.png) no-repeat 0 0;
  background-size: cover;
  padding: 60px 0;
} */
/* 
.why_choose_us_section {
  background: url(../imagesource/why_choose_bg.png) no-repeat 0 0;
  background-size: cover;
  padding: 60px 0;
}

.courses_learning_section {
  background: url(../imagesource/Courses_Learning.png) no-repeat 0 0;
  background-size: cover;
  padding: 60px 0;
}

.level_up_process_section {
  background: url(../imagesource/level_up_process_section_bg.png) no-repeat
    center center;
  background-size: cover;
  padding: 60px 0;
}
.level_up_process_cont_section {
  background: url(../imagesource/level_up_process_section_cont_bg.png) no-repeat
    0 0;
  padding-bottom: 30px;
  margin-left: -138px;
} */

.level_up_process_cont_section ul li {
  padding-left: 250px;
  margin-bottom: 90px;
}
.level_up_process_cont_section ul li:nth-child(2n) {
  padding-left: 320px;
  margin-bottom: 90px;
}
.level_up_process_cont_section ul li:last-child {
  padding-left: 260px;
  margin-bottom: 60px;
  padding-top: 15px;
}

/* .play_one_section {
  background: url(../imagesource/play_one_bg.png) no-repeat 0 0;
  background-size: cover;
  padding: 80px 0;
}

.chese_dark_section {
  background: url(../imagesource/chess_bg_dark_full.png) no-repeat 0 0;
  background-size: cover;
  padding: 140px 0;
}

.our_coaches_section {
  background: url(../imagesource/Courses_Learning.png) no-repeat 0 0;
  background-size: cover;
  padding: 80px 0;
} */

.trial_class_section {
  background: #232b37;
  padding: 80px 0;
}

.plans_pricing_section {
  background: #ffffff;
  padding: 80px 0;
}

/* .testi_section {
  background: url(../imagesource/Courses_Learning.png) no-repeat 0 0;
  background-size: cover;
  padding: 60px 0;
}

.testi_box {
  background: url(../imagesource/testi_box_bg.png) no-repeat 0 0;
  background-size: contain;
  width: 97% !important;
} */

/* Home banner css ends here */

.our_coaches_slider_section .slick-slide img {
  display: inline-block !important;
}
.our_coaches_slider_section .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #b5e48c;
}
.our_coaches_slider_section .slick-dots li button:before {
  color: #fff;
}
.our_coaches_slider_section .slick-arrow.slick-next {
  position: absolute;
  top: 104%;
  right: 46%;
  z-index: 1;
}
.our_coaches_slider_section .slick-arrow.slick-prev {
  position: absolute;
  top: 104%;
  left: 46%;
  z-index: 1;
}

.our_coaches_slider_section.testimonial_slider .slick-arrow.slick-next {
  position: absolute;
  top: 104%;
  right: 40%;
  z-index: 1;
}
.our_coaches_slider_section.testimonial_slider .slick-arrow.slick-prev {
  position: absolute;
  top: 104%;
  left: 40%;
  z-index: 1;
}

.our_coaches_slider_section .slick-list {
  padding: 20px 0;
}

.about_section {
  padding: 60px 0;
}

.courses_section_top {
  padding: 60px 0;
}
.certificate_completion_sec {
  padding: 60px 0;
}

.banner_area_section {
  position: relative;
}
.banner_area_section img {
  width: 100%;
}
.banner_area_section h1 {
  position: absolute;
  left: 10%;
  top: 40%;
}

.form_area label {
  color: #a7a7a7;
}
.form_area input[type="text"],
.form_area input[type="email"],
.form_area input[type="password"] {
  background: #ffffff !important;
  border: #a7a7a7 1px solid !important;
  color: #a7a7a7;
  font-size: 14px;
}
.form_area select {
  background-color: #ffffff;
  border: #a7a7a7 1px solid;
  color: #a7a7a7;
}
.form_area textarea {
  background: #ffffff;
  border: #cacaca 1px solid;
  resize: none;
}
.form_area button {
  background: #800080 !important;
  width: 100%;
  cursor: pointer;
  border-radius: 0 !important;
  padding: 22px 0;
  font-size: 16px;
  border-radius: 8px !important;
}
.form_area button:hover {
  background: #000000 !important;
}

.form_area button.google_btn {
  color: #232323;
  font-size: 15px;
  line-height: 40px;
  border-radius: 4px !important;
  background: #ffffff !important;
  width: auto;
  border: #747474 1px solid;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.form_area button.google_btn:hover {
  background: #000000 !important;
  color: #ffffff;
}

.form_area.form_details button {
  display: flow;
  width: auto;
  padding: 10px 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px !important;
}

.form_area label {
  color: #a7a7a7;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
.form_area input[type="email"] {
  background: #ffffff;
  border: #a7a7a7 1px solid;
}

.sidebar_menu nav ul li a:hover {
  /* background: #023f9b; */
  color: #a635a2;
}

.sidebar_menu nav ul li button:hover {
  /* background: #023f9b; */
  color: #a635a2;
}

/* .checkmate_section {
  background: url(../imagesource/checkmate_section_bg.png) no-repeat 0 0;
  background-size: contain;
  padding: 20px 30px 216px;
  margin-bottom: 20px;
} */

.register_image {
  background: url(../imagesource/register_stepone.png) no-repeat 0 0;
  background-size: cover;
}
.login_image {
  background: url(../imagesource/login_bg.png) no-repeat 0 0;
  background-size: cover;
}

.month_select select {
  background-color: #f8f4f4;
  color: #514f4f;
  border: none;
  border-radius: 20px;
  width: 90px;
  height: 40px;
}
.my_courses_box.disable_my_courses_box {
  position: relative;
}
.my_courses_box.disable_my_courses_box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* .tab_cont_area {
  border-top: #e6e6e6 1px solid;
  padding: 20px 0;
}
.tab_btn_area button {
  background: none;
  color: #969696;
  font-size: 16px;
  padding: 5px 10px;
} */

.tab_cont_area {
  border-top: #e6e6e6 1px solid;
  padding: 20px 0;
}
.tab_btn_area button {
  cursor: pointer;
  padding: 10px 20px;
}
.tab_btn_area .bg-primary-600 {
  background-color: #52b69a;
}

.accordian_section .bg-gray-900 {
  background-color: #ffffff;
}

.banner_content_area h1 span {
  color: #a536a2;
}

.getmobile_area {
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(248, 245, 253, 1) 50%,
    rgba(248, 245, 253, 1) 100%
  );
  padding: 80px 0;
}
.getmobile_area h2 span {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing_area {
  padding: 0 0;
}
.pricing_area h2 span {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_btn {
  z-index: 99999;
  cursor: pointer;
  position: absolute;
  top: 62px;
  background: #7f0082;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.user_face {
  position: relative;
}

.price_box {
  box-shadow: 2px 0px 16px 0px rgba(232, 232, 232, 0.75);
  -webkit-box-shadow: 2px 0px 16px 0px rgba(232, 232, 232, 0.75);
  -moz-box-shadow: 2px 0px 16px 0px rgba(232, 232, 232, 0.75);
}

.why_choose_section {
  background: #f7f5ed;
  padding: 80px 0;
}

.why_choose_section h2 {
  padding-bottom: 50px;
}
.why_choose_section h2 span {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_us_area {
  background: #ffffff;
  padding: 100px 0;
}
.about_us_area h2 {
  padding-bottom: 20px;
}
.about_us_area h2 span {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_btn {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  padding: 6px;
  height: 47px;
  position: relative;
  z-index: 2;
}
.main_btn a {
  margin-right: -10px;
}

.banner_pic_section {
  position: absolute;
  right: 0;
  bottom: -70px;
}

.small_text {
  margin-bottom: 30px;
}
.small_text p {
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding-left: 0;
  display: inline-block;
}
.small_text p:before {
  position: absolute;
  left: -60px;
  top: 11px;
  content: "";
  width: 50px;
  height: 2px;
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
}
.small_text p:after {
  position: absolute;
  right: -60px;
  top: 11px;
  content: "";
  width: 50px;
  height: 2px;
  background: #fa0102;
  background: linear-gradient(to right, #fa0102 0%, #ff00c9 100%);
}

.offer_section {
  padding: 120px 0 80px;
}
.offer_image_box {
  position: absolute;
  left: -150px;
  top: -250px;
  z-index: 1;
}

/*  */

/* .how_it_works_section h2 span {
  color: #a536a2;
} */

.purchase_section {
  background: #ffffff;
}

.purchase_section h2 span {
  color: #a536a2;
}

.testimonials_section {
  background: #20003b;
}

.subscription_tab_section.inner_plan .react-tabs ul {
  display: flex;
  justify-content: space-between;
  background: #fbfbfb;
  border: #e1e6fe 1px solid;
  padding: 8px;
  border-radius: 14px;
  margin: 0 auto 30px;
  width: 240px;
}

.subscription_tab_section .react-tabs ul {
  display: flex;
  justify-content: space-between;
  background: #fbfbfb;
  border: #e1e6fe 1px solid;
  padding: 8px;
  border-radius: 14px;
  margin: 0 auto 30px;
  width: 350px;
}

.subscription_tab_section
  .react-tabs
  ul
  .react-tabs__tab.react-tabs__tab--selected {
  background: #f0e3fa;
  color: #800080;
  border: #e7ebff 1px solid;
  border-radius: 12px;
}
.subscription_tab_section
  .react-tabs
  ul
  .react-tabs__tab.react-tabs__tab--selected:after {
  display: none;
}

.subscription_tab_section .react-tabs ul .react-tabs__tab {
  color: #797878;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
}

.most_popular_bg {
  background: #0a49a0;
  background: linear-gradient(
    0deg,
    rgba(10, 73, 160, 1) 0%,
    rgba(9, 110, 138, 1) 50%,
    rgba(9, 121, 131, 1) 100%
  );
}

.banner_search_area input[type="text"] {
  background: #ffffff;
  border: none;
  color: #c2c2c2;
  height: 45px;
}
.banner_search_area.dashboard_search input[type="text"] {
  background: #404040;
  border: none;
  color: #e0e0e0;
  height: 45px;
  border: #404040 1px solid;
}
.banner_search_area input[type="text"]::placeholder {
  color: #c2c2c2;
}
.banner_search_area select {
  background-color: #ffffff;
  color: #c2c2c2;
  height: 45px;
  border: #c2c2c2 1px solid;
}
.banner_search_area.dashboard_search select {
  background-color: #404040;
  color: #e0e0e0;
  height: 45px;
  border: #404040 1px solid;
}
.banner_search_area input[type="text"]:focus {
  border: none;
  box-shadow: none;
}

.prediction_section {
  background: #ffffff url(../imagesource/prediction_bg.png) no-repeat center top;
  background-size: cover;
  padding: 360px 0 20px;
  margin-top: -250px;
}

.prediction_section table tr th {
  background: #ffffff;
}
.prediction_section table tr {
  background: #ffffff;
  border-bottom: none;
}
.prediction_section table tr:hover {
  background: #f1f1f1;
}

/* .key_benefits_section h2 span {
  color: #083991;
} */

.resume_templates_section {
  background: url(../imagesource/resume_templates_bg.png) no-repeat center top;
  background-size: cover;
  padding: 100px 0 100px;
}

.gold_card_box {
  background: url(../imagesource/business_bg.png) no-repeat center top;
  background-size: cover;
}

.dashboard_search_section input[type="text"] {
  background: none;
  border: none;
  color: #727272;
  height: 45px;
  font-weight: 400;
  padding: 0 20px;
}

/*  */

.tradingview-widget-container iframe {
  height: 500px !important;
}

.dashboard_wrapper {
  gap: 0;
}

.common-section-box-content input[type="text"] {
  background-color: #ffffff;
  border: #d4d4d4 1px solid;
  color: #bdbdbd;
}

.label__link-dzbd7lyV {
  display: none !important;
}

.form_area button.sign_up_btn {
  background: none !important;
  padding: 0 !important;
  width: auto !important;
  margin-left: 5px !important;
  font-weight: 500 !important;
  color: #046d78;
}
.form_area button.sign_up_btn:hover {
  color: #000000;
}

.header_menu ul li {
  float: left;
  margin-right: 20px;
}

.spot_recommenda_bg {
  background: #677ce8;
  background: linear-gradient(
    90deg,
    rgba(103, 124, 232, 1) 0%,
    rgba(116, 77, 166, 1) 72%,
    rgba(116, 77, 166, 1) 100%
  );
}
.leveraged_recommendations_bg {
  background: #9e1ae4;
  background: linear-gradient(
    90deg,
    rgba(158, 26, 228, 1) 0%,
    rgba(201, 38, 181, 1) 72%,
    rgba(245, 50, 132, 1) 100%
  );
}
.prifile_bg {
  background: #63809f;
  background: linear-gradient(
    90deg,
    rgba(99, 128, 159, 1) 0%,
    rgba(170, 163, 164, 1) 72%,
    rgba(214, 203, 163, 1) 100%
  );
  border-radius: 15px 15px 0 0;
  height: 100px;
}

.short_term_spot {
  position: relative;
}
.short_term_spot:before {
  position: absolute;
  left: 2px;
  top: 2;
  background: #e72051;
  width: 6px;
  height: 99%;
  content: "";
  border-radius: 16px 0 0 16px;
}
.long_term_spot {
  position: relative;
}
.long_term_spot:before {
  position: absolute;
  left: 2px;
  top: 2;
  background: #7ede29;
  width: 6px;
  height: 99%;
  content: "";
  border-radius: 16px 0 0 16px;
}

.short_term_leveraged {
  position: relative;
}
.short_term_leveraged:before {
  position: absolute;
  left: 2px;
  top: 2;
  background: #3ce5e7;
  width: 6px;
  height: 99%;
  content: "";
  border-radius: 16px 0 0 16px;
}
.long_term_leveraged {
  position: relative;
}
.long_term_leveraged:before {
  position: absolute;
  left: 2px;
  top: 2;
  background: #fc770b;
  width: 6px;
  height: 99%;
  content: "";
  border-radius: 16px 0 0 16px;
}

.account_setting_section label {
  font-size: 14px;
  line-height: 26px;
  color: #686666 !important;
  font-weight: 400;
}
.account_setting_section input[type="text"] {
  background: #f5f1f1;
  color: #2e2c2c;
  border: #acaaaa 1px solid;
  height: 45px;
}
.account_setting_section input[type="text"]::placeholder {
  color: #6a6a6a;
}
.account_setting_section input[type="password"] {
  background: #f5f1f1;
  color: #3f3e3e;
  border: #acaaaa 1px solid;
  height: 45px;
}
.account_setting_section input[type="password"]::placeholder {
  color: #6a6a6a;
}
.accordian_section button {
  background: #f3f4f6;
  cursor: pointer;
  color: #000000;
  border: #e5e7eb 1px solid;
  font-size: 17px;
}
.accordian_section > div {
  border: #e5e7eb 1px solid;
  border-radius: 8px;
  overflow: hidden;
}
.accodian_cont {
  background: #f8fafc;
  color: #9a9a9a;
  border: none;
}
.accordian_section button:focus {
  background: none !important;
  box-shadow: none !important;
}
.accodian_cont {
  background: #f8fafc;
  color: #9a9a9a;
  border: none;
}

.testimonials_section ul li button:before {
  color: #4d3362;
  font-size: 15px;
  opacity: 1;
}
.testimonials_section ul li.slick-active button:before {
  color: #92278f;
}

.resume_templates_section ul li button:before {
  color: #ffffff;
  font-size: 15px;
  opacity: 1;
}
.resume_templates_section ul li.slick-active button:before {
  color: #a536a2;
}

.continue_width {
  background: #ffffff;
  position: relative;
}
.continue_width:before {
  background: #bcbcbc;
  position: absolute;
  content: "";
  height: 1px;
  width: 30%;
  right: 0;
  top: 10px;
}
.continue_width:after {
  background: #bcbcbc;
  position: absolute;
  content: "";
  height: 1px;
  width: 30%;
  left: 0;
  top: 10px;
}

.welcome_area {
  background: #1d5cfb;
  background: linear-gradient(
    90deg,
    rgba(29, 92, 251, 1) 0%,
    rgba(103, 69, 251, 1) 68%,
    rgba(147, 26, 250, 1) 100%
  );
}

.search_section select {
  background-color: #f3f4f6;
  border: none;
  color: #323232;
}
.search_section input[type="text"] {
  background-color: #f3f4f6;
  border: none;
  color: #323232;
}
.search_section input[type="text"]:focus {
  border: none;
  box-shadow: none;
}

.software_point {
  position: relative;
}
.software_point:before {
  position: absolute;
  content: "";
  right: 14px;
  top: 8px;
  background: #7d7d7d;
  width: 3px;
  height: 3px;
  border-radius: 50px;
  display: block;
}

.apply_modal_area h3 {
  color: #000000;
}
.modal_header {
  border-bottom: #e5e5e5 1px solid;
}

.resume_list_area {
  height: 450px;
  overflow-y: scroll;
  padding-right: 20px;
}

.resume_list_area ul {
  list-style-type: none;
}

.resume_list_area li {
  display: inline-block;
}

.resume_list_area input[type="radio"][id^="cb"] {
  display: none;
}

.resume_list_area label {
  border: 1px solid #fff;
  padding: 0;
  display: block;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: #a1a1a1 2px solid;
  border-radius: 4px;
}

.resume_list_area label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #92278f;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

/* .resume_list_area label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
} */




.resume_list_area :checked + label {
  border-color: #92278f;
}

.resume_list_area :checked + label:before {
  content: "✓";
  background-color: #92278f;
  transform: scale(1);
}

/* .resume_list_area :checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
} */

.resume_upload_box {
  background-color: #ffffff;
  border-color: #92278f;
  padding: 170px 0;
}
.resume_upload_box:hover {
  background-color: #f3f1f1;
}

.resume_upload_box_small {
  background-color: #ffffff;
  border-color: #92278f;
  padding: 155px 0;
}
.resume_upload_box_small:hover {
  background-color: #f3f1f1;
}

.resume_upload_box_small2 {
  background-color: #ffffff;
  border-color: #92278f;
  padding: 30px 0;
}
.resume_upload_box_small2:hover {
  background-color: #f3f1f1;
}

.resume_form_box label {
  color: #000000;
  font-size: 12px;
}
.resume_form_box label span {
  color: #ff0004;
}
.field_box {
  border: #e2e2e2 1px solid;
  border-radius: 4px;
  height: 45px;
  background: #f6f6f6;
}
.field_box input[type="text"],
.field_box input[type="email"] {
  background: none;
  border: none;
  color: #000000;
  font-size: 12px;
  line-height: 45px;
  padding: 0;
  width: 100%;
}
.field_box_date input[type="text"] {
  background: #f6f6f6;
  border: #e2e2e2 1px solid;
  border-radius: 4px;
  color: #000000;
  font-size: 12px;
  line-height: 25px;
  width: 100%;
}
.field_box input[type="text"]:focus,
.field_box input[type="email"]:focus,
.field_box_date input[type="text"]:focus,
.resume_form_box select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.field_box input[type="text"]::placeholder {
  color: #868686;
}

.resume_form_box textarea {
  border: #e2e2e2 1px solid;
  border-radius: 4px;
  background: #f6f6f6;
  color: #000000;
  font-size: 12px;
  line-height: 24px;
}

.resume_form_box select {
  /* background: none; */
  background-color: #f6f6f6;
  border: none !important;
  color: #000000;
  font-size: 12px;
  line-height: 43px;
  height: 43px;
  padding: 0 0 0 0;
  width: 100%;
}

.tab_point ul {
  border: none;
  margin-bottom: 0;
}
.tab_point ul li.react-tabs__tab {
  border: #d5d5d5 1px solid;
  border-radius: 6px;
  font-size: 14px;
  line-height: 42px;
  color: #828282;
  font-weight: 500;
  padding: 0 15px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}
.tab_point ul li.react-tabs__tab span {
  background: #eae9ea;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.tab_point ul li.react-tabs__tab:hover span {
  background: #ffffff;
}
.tab_point ul li.react-tabs__tab:hover {
  border: #f6efff 1px solid;
  background: #f6efff;
  color: #92278f;
}
.tab_point ul li.react-tabs__tab.react-tabs__tab--selected {
  border: #f6efff 1px solid;
  background: #f6efff;
  color: #92278f;
}
.tab_point ul li.react-tabs__tab.react-tabs__tab--selected span {
  background: #ffffff;
}

.tab_wrap {
  height: 475px;
  overflow-y: scroll;
  padding-right: 15px;
}

.invited_students_table_wrap table tr th {
  background-color: #f0f0f0 !important;
}
.invited_students_table_wrap table tr td:first-child,
.invited_students_table_wrap table tr td:last-child {
  border-radius: 0;
}

.invited_students_table_wrap table tr {
  border-bottom: 0;
  background-color: #ffffff;
}
.invited_students_table_wrap table tr td {
  background-color: #fff;
  border-bottom: #f0f0f0 1px solid;
}

.invited_students_table_wrap input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #a1a8b3;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background: #ffffff;
}

.invited_students_table_wrap input[type="checkbox"]:checked {
  background-color: purple; /* Box background */
  border-color: purple;
}

.invited_students_table_wrap input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  left: 2px;
  top: 0px;
  font-size: 11px;
  color: white; /* Tick color */
}

.resume_templates_section {
  padding: 70px 0;
}

.acco_section {
  background: #ffffff;
  padding: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.acco_section button {
  cursor: pointer;
  margin-bottom: 0;
  background-color: #f6efff;
  color: #000000;
  border-bottom: none;
  margin-bottom: 5px;
}
.acco_section button:hover {
  background-color: #f3f4f6;
  color: #000000;
}
.acco_section button:focus {
  border: none;
  box-shadow: none;
}

.acco_section [data-testid="flowbite-accordion-content"] {
  background-color: #ffffff;
}
.acco_section [data-testid="flowbite-accordion"] {
  border: none;
}

.label_tab_area ul {
  /* background: #ffffff; */
  padding: 3px;
  border-bottom: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.label_tab_area ul li {
  width: 20%;
  border-radius: 5px;
}
.label_tab_area ul li.react-tabs__tab.react-tabs__tab--selected:after {
  display: none;
}
.label_tab_area ul li:last-child.react-tabs__tab.react-tabs__tab--selected {
  background: #9ba1fb;
  border: #9ba1fb 1px solid;
}
.label_tab_area ul li:first-child.react-tabs__tab.react-tabs__tab--selected {
  background: #fe7d8b;
  border: #fe7d8b 1px solid;
}
.label_tab_area ul li:nth-child(2n).react-tabs__tab.react-tabs__tab--selected {
  background: #f68559;
  border: #f68559 1px solid;
}
.label_tab_area ul li:nth-child(3n).react-tabs__tab.react-tabs__tab--selected {
  background: #ec930c;
  border: #ec930c 1px solid;
}
.label_tab_area ul li:nth-child(4n).react-tabs__tab.react-tabs__tab--selected {
  background: #48ba75;
  border: #48ba75 1px solid;
}

.acco_section h2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.resume_tab_scrach {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume_tab_scrach .tab_point ul {
  border: none;
  margin-bottom: 0px;
  display: flex;
  gap: 7px;
}
.resume_tab_scrach .tab_point {
  background: #f7f9fc;
  border-radius: 10px;
  padding: 10px;
}
.resume_tab_scrach .tab_point ul li.react-tabs__tab {
  margin-bottom: 0;
  margin-right: 0;
}
.resume_tab_scrach
  .tab_point
  ul
  li.react-tabs__tab.react-tabs__tab--selected:after {
  display: none;
}

.acco_section div > div {
  border: none;
}

.acco_section .drag_point button {
  background: none;
  margin-top: 20px;
  color: #9fa6bb;
}
.acco_section .delete_point button {
  background: none;
  margin-top: 20px;
  color: #9fa6bb;
}

.acco_section .date_area input {
  background-color: #ffffff;
  border: #d1d5db 1px solid;
  color: #7f7f7f;
}
.acco_section .date_area button {
  background-color: initial;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .invited_students_table_wrap table tr td:first-child,
  .invited_students_table_wrap table tr td:last-child {
    border-radius: 0;
    padding: 40px 0;
  }
  .subscription_tab_section .react-tabs ul {
    width: 300px;
  }
  .resume_upload_box {
    background-color: #fff;
    border-color: #92278f;
    padding: 20px 0;
  }

  .subscription_tab_section .react-tabs ul .react-tabs__tab {
    color: #797878;
    text-align: center;
    font-size: 13px;
    line-height: 34px;
  }

  .software_point:before {
    display: none;
  }
  .resume_upload_box_small {
    background-color: #fff;
    border-color: #92278f;
    padding: 20px 0;
  }

  .apply_modal_area h3 {
    color: #000;
    font-size: 17px;
  }

  .tab_point ul li.react-tabs__tab {
    padding: 0 10px;
    font-size: 12px;
    line-height: 38px;
  }

  .menu_btn {
    display: inline-flex;
  }

  .main_menu nav div > div {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    position: absolute;
    right: 0;
    top: -12px;
  }

  .main_menu {
    position: absolute;
    right: 6px;
    top: 24px;
  }

  /* .main_menu ul {
    position: absolute;
    margin: 0;
    right: -10px !important;
    top: -25px;
    width: 250px;
    z-index: 100;
    background: #000000;
    text-align: center;
    padding: 15px 0 0 15px;
    border-radius: 0;
    box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    -webkit-box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    -moz-box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    text-align: left;
    height: 100vh;
  } */

  .main_menu ul {
    position: absolute;
    margin: 0;
    right: 70px !important;
    top: -25px;
    width: 250px;
    z-index: 100;
    background: #000000;
    text-align: center;
    padding: 30px 0 0 15px;
    border-radius: 0;
    box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    -webkit-box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    -moz-box-shadow: -1px 2px 12px 4px rgba(209, 209, 209, 0.59);
    text-align: left;
    height: 100vh;
  }

  .main_menu ul li a {
    font-size: 14px;
    line-height: 24px;
    padding: 5px 0;
    display: block;
    font-weight: 400;
    color: #a200a2;
  }

  .plans_pricing_section {
    padding: 40px 0;
  }
  .play_one_section {
    padding: 40px 0;
  }
  .trial_class_section {
    padding: 40px 0;
  }
  .testi_section {
    padding: 40px 0;
  }
  .our_coaches_section {
    padding: 40px 0;
  }
  .chese_dark_section {
    padding: 60px 0;
  }
  .level_up_process_cont_section {
    background: #ffffff;
    margin-left: 0;
  }
  .level_up_process_cont_section ul li {
    margin-bottom: 20px;
    padding-left: 0;
    width: 100%;
  }
  .level_up_process_cont_section ul li:nth-child(2n) {
    margin-bottom: 20px;
    padding-left: 0;
    width: 100%;
  }
  .level_up_process_cont_section ul li:last-child {
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 0;
    width: 100%;
  }
  .level_up_process_section {
    padding: 40px 0;
    background: none;
  }
  .why_choose_us_section {
    background: none;
    padding: 40px 0;
  }
  .home_banner_area {
    padding: 0 0;
    background: #f6f4fe;
  }

  .toggle_point button svg {
    fill: #000000;
  }

  .about_section,
  .courses_section_top,
  .certificate_completion_sec {
    padding: 25px 0;
  }

  .getmobile_area {
    background: #fff;
    padding: 40px 0;
  }

  .why_choose_section {
    background: #f7f5ed;
    padding: 40px 0;
  }

  .about_us_area {
    padding: 40px 0;
  }

  .about_service_box {
    background: none;
  }

  .offer_image_box {
    position: inherit;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .offer_section {
    padding: 30px 0 40px;
  }
  .banner_pic_section {
    position: relative;
    width: 50%;
    bottom: -215px;
    right: -188px;
    z-index: 1;
  }
  .main_btn {
    height: 31px;
  }

  .small_text {
    margin-bottom: 10px;
  }
  .small_text p:before {
    top: 7px;
  }
  .small_text p:after {
    top: 7px;
  }

  .prediction_section {
    background: #ffffff url(../imagesource/prediction_bg.png) no-repeat center
      top;
    background-size: cover;
    margin-top: -300px;
    padding: 310px 0 20px;
  }
  .subscription_tab_section .react-tabs ul {
    margin: 0 auto 0;
  }

  .header_menu ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .header_menu ul li {
    float: left;
    margin-right: 0;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .main_menu ul {
    right: 125px !important;
  }
}

@media screen and (min-width: 412px) and (max-width: 767px) {
  .main_menu ul {
    right: 175px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
  .dashboard_wrapper {
    gap: 0;
  }
}
